<template>
	<mappings>
		<contextType>TREE_PARAMETERS</contextType>
		<slot>ENTITY_LABEL</slot>
		<entity>MASTER|norm|rel_org_cntrct_i</entity>
		<roles>
			<role/>
		</roles>
		<modes>
			<mode/>
		</modes>
	</mappings>
	<content>
		<stringTemplate>
			<template><![CDATA[<div class='TEntityLabel'>Instance organisation to contract roles</div>]]></template>
		</stringTemplate>
	</content>
</template>
