<?xml version="1.0" encoding="UTF-8"?>
<template>
	<mappings>
		<contextType>ROW</contextType>
		<slot>DATA_ROW_DETAIL_TAB</slot>
		<entity>MASTER|masters|rel_party2contract_instance</entity>
	</mappings>
	<slotOptions>
		<option name="removeHeaderBar"/>
		<option name="contentDataLabel" value=""/>
	</slotOptions>
	<setup>
		<parts>
			<definitions/>
			<providers/>
		</parts>
	</setup>
	<content>
		<div style="height:100%; width:100%;">
			<div classes="scrollContent">
				<div classes="mda-limitWidthContentContainer">
					<div classes="mda-columnsPanel">
						<div classes="mda-halfWidthColumn">
							<fieldGrid classes="mda-leftContentMargin" id="details_instance_panel" labelKey="Details">
								<fields>
									<field name="id"/>
									<field name="sys:eng_active"/>
									<field name="eng_origin"/>
									<field name="sys:eng_system"/>
									<field name="sys:eng_mtdt"/>
									<field name="master_id"/>
									<field name="source_id"/>
									<field name="contract_source_id"/>
									<field name="party_source_id"/>
									<field name="src_rel_type"/>
									<field name="std_rel_type"/>
									<field name="exp_rel_type"/>
									<field name="sco_rel_type"/>
									<field name="match_rule_name"/>
									<field name="pty_master_id"/>
									<field name="party_parent_cio_type"/>
								</fields>
							</fieldGrid>
						</div>
						<div classes="mda-halfWidthPanel"/>
					</div>
					<div id="bottom" style="display:inline-block; width:100%;"/>
				</div>
			</div>
		</div>
	</content>
</template>
