<?xml version="1.0" encoding="UTF-8"?>
<template>
	<mappings>
		<contextType>ROW</contextType>
		<slot>DATA_ROW_DETAIL_TAB</slot>
		<entity>MASTER|norm|rel_per_cntrct_i</entity>
	</mappings>
	<slotOptions>
		<option name="removeHeaderBar"/>
		<option name="contentDataLabel" value=""/>
	</slotOptions>
	<setup>
		<parts>
			<definitions/>
			<providers/>
		</parts>
	</setup>
	<content>
		<div style="height:100%; width:100%;">
			<div classes="scrollContent">
				<div classes="mda-limitWidthContentContainer">
					<div classes="mda-columnsPanel">
						<div classes="mda-halfWidthColumn">
							<fieldGrid classes="mda-leftContentMargin" labelKey="Details">
								<fields>
									<field name="id"/>
									<field name="sys:eng_active"/>
									<field name="sys:eng_mtdt"/>
									<field name="pty_id"/>
									<field name="contract_source_id"/>
								</fields>
							</fieldGrid>
						</div>
						<div classes="mda-halfWidthPanel"/>
					</div>
					<div id="bottom" style="display:inline-block; width:100%;"/>
				</div>
			</div>
		</div>
	</content>
</template>
