<?xml version="1.0" encoding="UTF-8"?>
<template>
	<mappings>
		<contextType>ROW</contextType>
		<slot>DATA_ROW_DETAIL_TAB</slot>
		<entity>SOR|consent</entity>
	</mappings>
	<slotOptions>
		<option name="removeHeaderBar"/>
		<option name="contentDataLabel" value="${category} - ${purpose} - ${system}${consumer}${channel} : ${status}"/>
	</slotOptions>
	<setup>
		<parts>
			<definitions>
				<part condition="category = &#34;access&#34;" name="CONS_A"/>
				<part condition="category = &#34;storing&#34;" name="CONS_S"/>
				<part condition="category = &#34;contact&#34;" name="CONS_C"/>
			</definitions>
			<providers/>
		</parts>
	</setup>
	<content>
		<div style="height:100%; width:100%;">
			<div classes="scrollContent">
				<div classes="mda-limitWidthContentContainer">
					<div classes="mda-columnsPanel">
						<div classes="mda-halfWidthColumn">
							<fieldGrid classes="mda-leftContentMargin" labelKey="Basic Information">
								<fields>
									<field name="category"/>
									<field name="purpose"/>
									<field name="system" parts="CONS_S"/>
									<field name="consumer" parts="CONS_A"/>
									<field name="channel" parts="CONS_C"/>
									<field name="status"/>
									<field name="origin_date"/>
									<field name="expiration_date"/>
								</fields>
							</fieldGrid>
						</div>
						<div classes="mda-halfWidthPanel">
							<fieldGrid classes="mda-rightContentMargin" labelKey="Additional Information">
								<fields>
									<field name="id"/>
									<field name="party_id"/>
									<field name="sys:eng_active"/>
									<field name="sys:eng_mtdt"/>
								</fields>
							</fieldGrid>
						</div>
					</div>
					<div id="bottom" style="display:inline-block; width:100%;"/>
				</div>
			</div>
		</div>
	</content>
</template>
