<template>
	<mappings>
		<contextType>TREE_PARAMETERS</contextType>
		<slot>ENTITY_LABEL</slot>
		<entity>MASTER|masters|consent_instance</entity>
		<roles>
			<role/>
		</roles>
		<modes>
			<mode/>
		</modes>
	</mappings>
	<content>
		<stringTemplate>
			<template><![CDATA[<div class='TEntityLabel'>$std_category$ - $std_purpose$ : $cio_status$</div>]]></template>
		</stringTemplate>
	</content>
</template>
