<?xml version="1.0" encoding="UTF-8"?>
<template>
	<mappings>
		<contextType>ROW</contextType>
		<slot>DATA_ROW_DETAIL_TAB</slot>
		<entity>MASTER|masters|consent_instance</entity>
	</mappings>
	<slotOptions>
		<option name="removeHeaderBar"/>
		<option name="contentDataLabel" value="${std_category} - ${std_purpose} : ${cio_status}"/>
	</slotOptions>
	<setup>
		<parts>
			<definitions/>
			<providers/>
		</parts>
	</setup>
	<content>
		<div style="height:100%; width:100%;">
			<div classes="scrollContent">
				<div classes="mda-limitWidthContentContainer">
					<div classes="mda-columnsPanel">
						<div classes="mda-halfWidthColumn">
							<fieldGrid classes="mda-leftContentMargin" id="source_data_instance_panel" labelKey="Source Data">
								<fields>
									<field name="id"/>
									<field name="eng_source_timestamp"/>
									<field name="sys:eng_active"/>
									<field name="eng_origin"/>
									<field name="sys:eng_system"/>
									<field name="sys:eng_mtdt"/>
									<field name="src_category"/>
									<field name="src_purpose"/>
									<field name="src_system"/>
									<field name="src_consumer"/>
									<field name="src_channel"/>
									<field name="src_status"/>
									<field name="src_origin_date"/>
									<field name="src_expiration_date"/>
								</fields>
							</fieldGrid>
						</div>
						<div classes="mda-halfWidthPanel">
							<fieldGrid classes="mda-rightContentMargin" id="standardized_data_instance_panel" labelKey="Standardized Data">
								<fields>
									<field name="std_category"/>
									<field name="exp_category"/>
									<field name="sco_category"/>
									<field name="std_purpose"/>
									<field name="exp_purpose"/>
									<field name="sco_purpose"/>
									<field name="std_system"/>
									<field name="exp_system"/>
									<field name="sco_system"/>
									<field name="std_consumer"/>
									<field name="exp_consumer"/>
									<field name="sco_consumer"/>
									<field name="std_channel"/>
									<field name="exp_channel"/>
									<field name="sco_channel"/>
									<field name="std_status"/>
									<field name="cio_status"/>
									<field name="exp_status"/>
									<field name="sco_status"/>
									<field name="std_origin_date"/>
									<field name="cio_origin_date"/>
									<field name="exp_origin_date"/>
									<field name="sco_origin_date"/>
									<field name="std_expiration_date"/>
									<field name="cio_expiration_date"/>
									<field name="exp_expiration_date"/>
									<field name="sco_expiration_date"/>
								</fields>
							</fieldGrid>
						</div>
					</div>
					<div id="bottom" style="display:inline-block; width:100%;"/>
				</div>
			</div>
		</div>
	</content>
</template>
