<template>
	<mappings>
		<contextType>TREE_PARAMETERS</contextType>
		<slot>ENTITY_LABEL</slot>
		<entity>MASTER|masters|rel_prod2prod</entity>
		<roles>
			<role/>
		</roles>
		<modes>
			<mode/>
		</modes>
	</mappings>
	<content>
		<stringTemplate>
			<template><![CDATA[<div class='TEntityLabel'>$id$ $cmo_rel_type$ $[cmo_rel_category$</div>]]></template>
		</stringTemplate>
	</content>
</template>
