<template>
	<mappings>
		<contextType>TREE_PARAMETERS</contextType>
		<slot>ENTITY_LABEL</slot>
		<entity>INSTANCE|rd_address_type_trans</entity>
		<roles>
			<role/>
		</roles>
		<modes>
			<mode/>
		</modes>
	</mappings>
	<content>
		<stringTemplate>
			<template><![CDATA[<div class='TEntityLabel'>$source_system$ $source_code$</div>]]></template>
		</stringTemplate>
	</content>
</template>
