<?xml version="1.0" encoding="UTF-8"?>
<template>
	<mappings>
		<contextType>ROW</contextType>
		<slot>DATA_ROW_DETAIL_TAB</slot>
		<entity>MASTER|masters|consent</entity>
	</mappings>
	<slotOptions>
		<option name="removeHeaderBar"/>
		<option name="contentDataLabel" value="${cmo_category} - ${cmo_purpose} - ${cmo_system}${cmo_consumer}${cmo_channel} : ${cmo_status}"/>
	</slotOptions>
	<setup>
		<parts>
			<definitions>
				<part condition="cmo_category = &#34;access&#34;" name="CONS_A"/>
				<part condition="cmo_category = &#34;storing&#34;" name="CONS_S"/>
				<part condition="cmo_category = &#34;contact&#34;" name="CONS_C"/>
			</definitions>
			<providers/>
		</parts>
	</setup>
	<content>
		<div style="height:100%; width:100%;">
			<div classes="scrollContent">
				<div classes="mda-limitWidthContentContainer">
					<div classes="mda-columnsPanel">
						<div classes="mda-halfWidthColumn">
							<fieldGrid classes="mda-leftContentMargin" labelKey="Basic Information">
								<fields>
									<field name="cmo_category"/>
									<field name="cmo_purpose"/>
									<field name="cmo_system" parts="CONS_S"/>
									<field name="cmo_consumer" parts="CONS_A"/>
									<field name="cmo_channel" parts="CONS_C"/>
									<field name="cmo_status"/>
									<field name="cmo_origin_date"/>
									<field name="cmo_expiration_date"/>
								</fields>
							</fieldGrid>
						</div>
						<div classes="mda-halfWidthPanel">
							<fieldGrid classes="mda-rightContentMargin" labelKey="Additional Information">
								<fields>
									<field name="id"/>
									<field name="party_id"/>
									<field name="sys:eng_active"/>
									<field name="sys:eng_mtdt"/>
								</fields>
							</fieldGrid>
						</div>
					</div>
					<div id="bottom" style="display:inline-block; width:100%;">
						<switchPanel classes="mda-leftRightContentMargin">
							<option activeLabel="Instances: key columns" inactiveLabel="Instances: key columns">
								<rowGrid relation="rev_consent_has_instance" gridHeight="auto">
									<columns>
										<column name="id"/>
										<column name="source_id"/>
										<column name="master_id"/>
										<column name="sys:eng_system"/>
										<column name="std_category"/>
										<column name="std_purpose"/>
										<column name="std_system" parts="CONS_S"/>
										<column name="std_consumer" parts="CONS_A"/>
										<column name="std_channel" parts="CONS_C"/>
										<column name="cio_status"/>
										<column name="cio_expiration_date"/>
										<column name="cio_origin_date"/>
									</columns>
									<actions>
										<action action="openDetail"/>
									</actions>
								</rowGrid>
							</option>
							<option activeLabel="Instances: all columns" inactiveLabel="Instances: all columns">
								<rowGrid relation="rev_consent_has_instance" gridHeight="auto">
									<columns/>
									<actions>
										<action action="openDetail"/>
									</actions>
								</rowGrid>
							</option>
						</switchPanel>
					</div>
				</div>
			</div>
		</div>
	</content>
</template>
